name: Deploy Portfolio

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to Server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_REDIX }}
          script: |
            cd /opt/portfolio_redix
            # Pobieramy pliki prosto do folderu www
            if [ ! -d "repo" ]; then
              git clone https://github.com/Redix45/Portoflio.git repo
            fi
            cd repo
            git pull origin main
            # Kopiujemy zawartość (pliki .html i .css widoczne na screenie) do www
            cp -r * ../www/
